.wrapper {
  animation: var(--animate-bg-init);
  background-attachment: fixed;
  background-image: linear-gradient(
    -45deg,
    var(--color-bg-1),
    var(--color-bg-2),
    var(--color-bg-3),
    var(--color-bg-4)
  );
  background-size: 600%;
  display: flex;
  min-height: 100%;
  padding: calc(var(--spacing) * 6);
  transform: translateZ(0);
  will-change: background-position;

  @media (width >= 48rem) {
    align-items: center;
    justify-content: center;
    padding-inline: calc(var(--spacing) * 8);
  }
}

.content {
  mix-blend-mode: overlay;
}
