/*
 * Page Styles
 * ======================================================================== */

.pageContainer {
  animation: gradient var(--animation-speed) ease infinite;
  background: linear-gradient(
    -45deg,
    var(--color-1),
    var(--color-2),
    var(--color-3),
    var(--color-4)
  );
  background-size: 600% 600%;
  height: 100%;
  padding: var(--padding-small);

  @media (min-width: 50em) {
    padding-left: var(--padding-large);
    padding-right: var(--padding-large);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
