.socialTitle {
  line-height: 1.5;
  margin: 0;
}

.socialWrapper {
  align-items: center;
  display: flex;
  margin-left: -0.5rem;
}

.socialLink {
  height: 2.5rem;
  padding: calc(var(--spacing) * 2);
  transition-duration: var(--default-transition-duration);
  transition-property: box-shadow, color;
  transition-timing-function: var(--default-transition-timing-function);

  @media (hover: hover) {
    &:is(:hover, :focus) {
      color: var(--color-tertiary);
    }

    &:is(:focus, :focus-visible) {
      outline: 1px dashed var(--color-tertiary);
      outline-offset: calc(var(--spacing) * -1);
    }
  }
}

.socialLinkTitle {
  border-width: 0;
  clip-path: inset(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.socialIcon {
  fill: currentcolor;
  flex-shrink: 0;
  height: calc(var(--spacing) * 6);
  width: calc(var(--spacing) * 6);
}
