@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 2, 6, 23;
    --color-secondary: 241, 245, 249;
  }
}

body {
  background: rgb(var(--color-secondary));
  color: rgb(var(--color-primary));
  font-family: var(--font-inter);
}

main {
  background-image: linear-gradient(
    -45deg,
    var(--color-bg-1),
    var(--color-bg-2),
    var(--color-bg-3),
    var(--color-bg-4)
  );
  background-size: 600%;
  transform: translateZ(0);
}
