@import-normalize;

:host,
:root {
  --animate-*: initial;
  --animate-bg-init: bg-pan 15s ease infinite, fade-in 500ms ease 1 backwards;

  --color-primary: 2, 6, 23;
  --color-secondary: 241, 245, 249;
  --color-tertiary: oklch(0.372 0.044 257.287);

  --container-lg: 32rem;

  --default-transition-duration: 0.15s;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --font-weight-semibold: 600;

  --spacing: 0.25rem;

  --text-2xl--line-height: calc(2 / 1.5);
  --text-2xl: 1.5rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-3xl: 1.875rem;
  --text-5xl--line-height: 1;
  --text-5xl: 3rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-lg: 1.125rem;
  --text-sm--line-height: calc(1.25 / 0.875);

  --tracking-tight: -0.025em;
  --tracking-tighter: -0.05em;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  background-color: rgb(var(--color-secondary));
  color: rgb(var(--color-primary));
  font-family: var(--font-sans);
  line-height: inherit;

  @media screen and (prefers-color-scheme: dark) {
    --color-primary: 112 128 144;
    --color-tertiary: rgb(255 255 255 / 75%);

    background-color: rgb(var(--color-primary) / 75%);
    color: rgb(var(--color-secondary));
  }
}

a {
  -webkit-text-decoration: inherit;
  color: inherit;
  text-decoration: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: var(--font-weight-semibold);
}

@keyframes bg-pan {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.01;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
