/*
 * Page Header Styles
 * ======================================================================== */

.pageHeader {
  max-width: var(--header-max-width);
}

.pageHeaderTitle {
  margin: 0 0 1.25rem;

  @media (min-width: 50em) {
    font-size: 2.625rem;
  }
}

.pageHeaderBody {
  margin: 0 0 1rem;

  @media (min-width: 50em) {
    font-size: 1.5rem;
  }
}
