/*
 * Page Footer Styles
 * ======================================================================== */

.pageFooter {
  align-items: center;
  display: flex;
  margin-left: -0.5rem;
}

.pageFooterIcon {
  height: 1.25rem;
  width: 1.25rem;
}

.pageFooterLink {
  margin-right: 0.25rem;
  padding: 0.5rem;

  &:first-child .pageFooterIcon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.pageFooterLabel {
  composes: visuallyHidden from global;
}
